<!DOCTYPE html>
<html lang="en">
  <!-- 注意 : 樹梅派上的html檔 ，請使用英文註解 ，否則會有解碼問題 -->
  <!-- 基本的html架構，可以在vs code 裡 新增空的html檔，然後在第一行打 ! 再按 Tab鍵 即會幫你生成 -->

  <!-- head 裡主要存放css code 去對網頁做排版以及美觀，但這次課程不會教，作業也不需要寫到，頂多需要修改title文字 -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Homework</title>
  </head>

  <!-- body區域，主要寫html的架構以及javascript(這次也不會用到)， 這次作業會需要做修改的地方，主要是body裡的html code，以及可能會需要上網查一些相關用法 -->
  <body>
    <!-- 標題 -->
    <h3>Student Data</h3>

    <!-- 水平分割線 -->
    <hr />

    <!-- 定義form表單 -->
    <!-- action = 表單輸入並送出之後，要切換過去之路由，而表單內容基本上屬於比較私密之資料，因此會使用POST request -->
    <form action="/student_data" method="POST">
      <!-- 輸入欄定義，懂都懂 -->
      <p>Name: <input type="text" name="student_name" /></p>
      <p>ID: <input type="text" name="student_id" /></p>
      <!-- 定義一個按鈕，按下會送出表單內容，懂都懂 -->
      <button>submit</button>
    </form>
  </body>
</html>
